* {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;

}

:root {
    --purple: #3f3752;
    --gradient1: linear-gradient(130deg, #762cee, #ff44b7, #fcbf49);
    --gradient1-pale: linear-gradient(130deg, #9961f4, #fa77c8, #fad58b);
    --gradient2: linear-gradient(130deg, #ff49b9, #ffb623);
    --white: #fff;
}


body {
    background: var(--purple);
}

header {
    color: white;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button {
    width: 100px;
    margin-top: 20px;
}

p {
    font-weight: 200;
    font-size: 14px;
}

strong {
    font-weight: 500;
}

h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background: var(--gradient2);
    /* Establecer el fondo del texto */
    -webkit-background-clip: text;
    /* Clip del fondo en el texto para WebKit */
    background-clip: text;
    /* Propiedad estándar para otros navegadores */
    -webkit-text-fill-color: transparent;
    /* Hacer que el texto sea transparente para WebKit */
}

a {
    color: white;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    padding: 28px 30px;
}

article {
    border-radius: 13px;
    padding: 30px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    color: var(--white);
    border: 1px solid transparent;
    border-image: var(--gradient1)1;
    overflow: hidden;
}


button,
.button {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    background: var(--gradient1);
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    border: none;
    height: 42px;
    transition: 0.3s;
}


#logIn {
    color: var(--white);
    background: #ffffff33;
}


article div:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 200;
}

footer {
    padding: 20px;
    color: white;
    background: var(--gradient1);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer h3 {
    padding-bottom: 4px;
}

.book div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.book div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.book img {
    width: 180px;
    border-radius: 10px;
}

#listName {
    color: white;
    text-align: center;
}

.button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    width: 100%;
    text-align: center;
}

#divBack,
#divUser {
    display: block;
    text-align: center;
    width: 100%;
}

#back {
    width: 280px;
}

/* ---------------- Spinner ---------------- */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient1);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* -------------------- POPUP -------------------- */

.popup {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro */
    z-index: 1000;
    /* Asegura que el popup esté encima */
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
}

.popup-content h2{
    padding-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--purple);
}

form label, form > input  {
    margin-top: 18px;
}

.popup-content div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.warning {
    color: red;
    font-weight: 600;
    padding-top: 12px;
}

/* -------------------------------- */

/* Media Queries */
@media (min-width: 700px) {

    main,
    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    header {
        flex-direction: row;
    }

    header div {
        width: 100%;
    }

    header button {
        margin-top: 0px;
    }

    #divUser {
        margin-top: 20px;
    }


    #logIn:hover {
        cursor: pointer;
        color: var(--purple);
        background: #fefdff;
        width: 140px;
    }

    #signUp:hover {
        cursor: pointer;
        background: var(--gradient1-pale);
        width: 140px;
    }


    button:hover,
    .button:hover {
        font-size: 14.5px;
        cursor: pointer;
        background: var(--gradient1-pale);
        width: 100%;
    }



    footer {
        text-align: center;
        bottom: 0;
    }

    section {
        flex-direction: row;
    }

    article {
        width: 220px;
        justify-content: space-between;
    }


}